<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red" >
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin:0% 25%;">
    <br>
    <div class="mb-3">
    <%= form.label :doctor_id, "Doctor", class: "form-label", style: "display: block" %>
    <%= form.select :doctor_id, options_for_select(@doctors.map { |d| [d.name, d.id]}), {prompt: "Select Doctor"}, class: "form-select form-control-lg" %>
    <!--<%= form.text_field :doctor_id %>-->
    </div>

    <div class="mb-3">
      <%= form.label :patient_id, style: "display: block",class: "form-label" %>
      <%= form.select :patient_id, options_for_select(@patients.map { |p| [p.name, p.id]}), {prompt: "Select Patient"}, class: "form-select form-control" %>
      <!--<%= form.text_field :patient_id %>-->
    </div>
  
    <div class="mb-3">
      <%= form.label :appointment_datetime, style: "display: block",class: "form-label" %>
      <%= form.datetime_field :appointment_datetime, class: "form-control" %>
    </div>
    
    <br>
    <div>
      <%= form.submit "submit", class: "btn btn-dark" %>
    </div>
  </div>
  
<% end %>

